<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Top 10 sản phẩm biến thể bán chạy">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-8">
                    <fusioncharts type="column3d" width="100%" height="570" dataFormat="json"
                        [dataSource]="dataSourceSoLanXuatHien">
                    </fusioncharts>
                </div>
                <div class="col-6 col-md-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm biến thể</th>
                                <th scope="col">Số lượng bán được</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.soLanXuatHien">
                                <td>{{item.productName}}</td>
                                <td>{{item.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Thống kê sản phẩm đạt top doanh số cao nhất" id="pdfTable" #pdfTable>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-8">
                    <fusioncharts type="column3d" width="100%" height="570" dataFormat="json"
                        [dataSource]="this.dataSourceDoanhThu">
                    </fusioncharts>
                </div>
                <div class="col-6 col-md-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm biến thể</th>
                                <th scope="col">Doanh số (VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.doanhthucaonhat">
                                <td>{{item.productName}}</td>
                                <td>{{item.profit|number}} VNĐ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Doanh thu tháng trong năm 2023">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-8">
                    <fusioncharts type="column3d" width="100%" height="570" dataFormat="json"
                        [dataSource]="dataSourceYear">
                    </fusioncharts>
                </div>
                <div class="col-6 col-md-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tháng</th>
                                <th scope="col">Doanh số</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataThongKe">
                                <td>{{item.month}}</td>
                                <td>{{item.profit|number}} VNĐ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>